.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* 1 line me 4 box */
  gap: 20px;
  margin: 2rem;
}

.card {
  margin: 20px;
  border: 1px solid #ededed;
  padding: 20px;
  cursor: pointer;
}

.card-img {
  width: 13rem;
  margin-bottom: 1rem;
}

.card-title {
  margin-bottom: 1rem;
}

.card-reviews {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.ratings-star {
  color: #ffc107;
  margin-right: 5px;
}

.total-reviews {
  font-size: 0.9rem;
  margin-left: 10px;
  color: #555;
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bag-icon {
  color: #494949;
}